<p id="notice"><%= notice %></p>

<%= render @post %>

<div class="comments">
  <%= render @post.comments %>
</div>

<%= render "comments/form" %>

<div class="page_nav">
  <%= link_to 'Back', posts_path %>
</div>
